/* {
  border: 1px solid grey;
    } */
    
body {
    box-sizing: border-box;
    background: #eee; /* url(body.gif) no-repeat 50% 100%; */
    color: #666;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 1.3em;
}

.container {
    padding-top: 1px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

header, footer {
  text-align: center;
  border: 5px solid rgb(214, 214, 214);
  margin: 10px;
}

header {
    border: 2px solid rgb(214, 214, 214);
    text-shadow: 2px 2px rgb(214, 214, 214);
    box-shadow: 0px 0px 2px 2px rgb(214, 214, 214);
}

.block {
    clear: both;
}

.main {
    display: flex;
}

.left-col {
    flex: 2;
    letter-spacing: .10em;

}

.right-col {
    flex: 1;
}

.left-article {
    padding: 15px;
}

.cross-hatching {
    background: repeating-linear-gradient(
        -45deg,
        rgba(0,0,0,0),
        rgba(0,0,0,0) 2px,
        rgba(0,0,0,.1) 2px,
        rgba(0,0,0,.1) 4px
    ) 
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif;
    display: inline; /* puts number on left next to h4--both of which are this font */
}

.bold-heading {
    font-weight: 900;
}

.number-box {
    padding: 20px 20px 10px 20px;
    border: 2px solid rgb(214, 214, 214);
    text-shadow: 2px 2px rgb(214, 214, 214);
    box-shadow: 0px 0px 2px 2px rgb(214, 214, 214);
}